<!-- Sidebar -->
<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">impekable</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->

   <!-- Nav Item - Dashboard -->
   <li class="nav-item">
    <a class="nav-link" href="index.html">
      <fa-icon class='mr-4 ' [icon]="house"></fa-icon>
        <span>Home</span></a>
</li>

 <!-- Nav Item - Dashboard -->
 <li class="nav-item   active  border-left-primary">
  <a class="nav-link" href="index.html">
    <fa-icon class='mr-4 ' [icon]="building"></fa-icon>
      <span>Analytics</span></a>
</li>

 <!-- Nav Item - Dashboard -->
 <li class="nav-item    ">
  <a class="nav-link" href="index.html">
    <fa-icon class='mr-4 ' [icon]="message"></fa-icon>
      <span>Inbox</span>
    </a>

</li>

 <!-- Nav Item - Dashboard -->
 <li class="nav-item    ">
  <a class="nav-link" href="index.html">
       <fa-icon class='mr-4 ' [icon]="invoice"></fa-icon>
      <span>Invoices</span></a>
</li>

 <!-- Nav Item - Dashboard -->
 <li class="nav-item     ">
  <a class="nav-link" href="index.html">
       <fa-icon class='mr-4 ' [icon]="user"></fa-icon>
      <span>Customers</span></a>
</li>

 <!-- Nav Item - Dashboard -->
 <li class="nav-item     ">
  <a class="nav-link" href="index.html">
       <fa-icon class='mr-4 ' [icon]="comment"></fa-icon>
      <span>Chat Room</span></a>
</li>
  <li class="nav-item     ">
      <a class="nav-link" href="index.html">
           <fa-icon class='mr-4 ' [icon]="calender"></fa-icon>
          <span>Calender</span></a>
  </li>

  <li class="nav-item     ">
    <a class="nav-link" href="index.html">
         <fa-icon class='mr-4 ' [icon]="help"></fa-icon>
        <span>Help Center</span></a>
</li>

<li class="nav-item     ">
  <a class="nav-link" href="index.html">
       <fa-icon class='mr-4 ' [icon]="gear"></fa-icon>
      <span>Settings</span></a>
</li>



</ul>
<!-- End of Sidebar -->
